<!DOCTYPE html>
<html lang="en">

<head>
{{ partial "head.html" . }}
</head>


<body>


{{ partial "header.html" . }}



   
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <br>
                   <p>                
                    {{ .Content }}
                </p>
            </div>
        </div>
    </div>     
   
   
   
    

    


        </div>



            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="portfolio">
                          
                            <div class="container">
                                <div class="row">
          
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="item-margin">
                                    <div class="item2">
                               <h2>People</h2><br>
                                <a href="../category-people"><img src="../img/aida-portfolio/horizantal/thumbnails/people/23450002.jpg" class="img-responsive"></a>
                                        </div>
                                        </div>
                            </div>

                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="item-margin">
                                            <div class="item2">
                                <h2>Nature</h2><br>
                                                <a href="../category-nature"><img src="../img/aida-portfolio/horizantal/thumbnails/nature/conversation.jpg" class="img-responsive"></a>
                            </div>
                            </div>
                            </div>
                                                   
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="item-margin">
                                            <div class="item2">
                                <h2>Architecture</h2><br>
                                                <a href="../category-architecture"><img src="../img/aida-portfolio/horizantal/thumbnails/architecture/1775.jpg" class="img-responsive"></a>
                            </div> 
                            </div> 
                            </div> 
                            
                            </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>  


    
    
    
    <div class="bottom-50"></div>
    

    
    
    
    










{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}


</body>
</html>