<!DOCTYPE html>
<html lang="en">

    <head>
        {{ partial "head.html" . }}
    </head>


    <body>


        {{ partial "header.html" . }}




        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12 text-center bottom-50">
                    <h1>{{ .Params.filename }}</h1>
                    <br><br>
                    <img src="../../../../{{ .Params.watermarked }}" alt="{{ .Params.filename }}" class="text-center">
                    <br>
                    {{ .Content }}
                </div>
            </div>  
        </div>






        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}


    </body>
</html>